body {
  font-family: Open Sans, sans-serif;
  margin: 25px auto;
  margin-top: 60px;
}

.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453c52;
  font-weight: 600;
  margin-bottom: 12px;
}

.TodoSection {
  margin-bottom: 20px;
  /*margin-left: 32px;*/
}

.AddTodo {
  display: flex;
  height: 24px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-button {
  padding: 6px 22px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #48bb78;
}

.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453c52;
}

.TodoItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
}

.TodoItem-overdueLabel {
  font-size: 12px;
  margin-left: 10px;
  color: #c53030;
  display: inline;
}

.TodoItem-remainingLabel {
  font-size: 12px;
  margin-left: 10px;
  color: gray;
  display: inline;
}
